In [2]:
import pandas as pd

In [3]:
order_df = pd.read_csv("data/orders.csv")

In [4]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [4]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products.csv")
products_df = pd.read_csv("data/products.csv")

In [6]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [7]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [8]:
order_products_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [ ]:
################################to connect to sql db and run queries from here

In [11]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 2.6/2.6 MB 32.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 2.6/2.6 MB 40.9 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.39-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sweth\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading sqlalchemy-2.0.39-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------  2.1/2.1 MB 22.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.8 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl (299 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.39
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import psycopg2
from sqlalchemy import create_engine

In [6]:
#connection
try:
    conn = psycopg2.connect(dbname="ecom_analysis",user='postgres',password='swetha39',port='5432')
except:
    print("connection was unsuccessful")

In [7]:
cur = conn.cursor()#cursor is used to execute query in sql engine

In [8]:
engine = create_engine('postgresql+psycopg2://postgres:swetha39@localhost/ecom_analysis') #connection for sql engie to bulk isert data

In [46]:
cur.execute("""
create table aisles(
    aisle_id integer primary key,
    aisle varchar(255) 
)
""")

In [47]:
cur.execute("""
create table departments(
    department_id integer primary key,
    department varchar(255) 
)
""")

In [48]:
cur.execute("""
create table products(
    product_id integer primary key,
    product_name varchar(255),
    aisle_id integer,
    department_id integer,
    foreign key (aisle_id) references aisles (aisle_id),
    foreign key (department_id)  references departments(department_id)
)
""")

In [49]:
cur.execute("""
create table orders(
    order_id integer primary key,
    user_id integer,
    order_number integer,
    order_dow integer,
    order_hour_of_day integer,
    days_since_prior_order integer
)
""")

In [50]:
cur.execute("""
create table order_products(
    order_id integer,
    product_id integer,
    add_to_cart_order integer,
    reordered integer,
    primary key (order_id,product_id),
    foreign key (order_id) references orders (order_id),
    foreign key (product_id)  references products(product_id)
)
""")

In [51]:
conn.commit()#only now the creates will reflect in database

In [53]:
order_df.drop('eval_set',inplace=True,axis=1)

In [71]:
aisles_df.to_sql('aisles',con=engine,if_exists='append',index=False)

134

In [72]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [73]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [75]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "orders_pkey"
DETAIL:  Key (order_id)=(2539329) already exists.

[SQL: INSERT INTO orders (order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order) VALUES (%(order_id__0)s, %(user_id__0)s, %(order_number__0)s, %(order_dow__0)s, %(order_hour_of_day__0)s, %(days_since_prior_order__0)s), (%(or ... 142102 characters truncated ... rder_number__999)s, %(order_dow__999)s, %(order_hour_of_day__999)s, %(days_since_prior_order__999)s)]
[parameters: {'days_since_prior_order__0': None, 'user_id__0': 1, 'order_id__0': 2539329, 'order_dow__0': 2, 'order_hour_of_day__0': 8, 'order_number__0': 1, 'days_since_prior_order__1': 15.0, 'user_id__1': 1, 'order_id__1': 2398795, 'order_dow__1': 3, 'order_hour_of_day__1': 7, 'order_number__1': 2, 'days_since_prior_order__2': 21.0, 'user_id__2': 1, 'order_id__2': 473747, 'order_dow__2': 3, 'order_hour_of_day__2': 12, 'order_number__2': 3, 'days_since_prior_order__3': 29.0, 'user_id__3': 1, 'order_id__3': 2254736, 'order_dow__3': 4, 'order_hour_of_day__3': 7, 'order_number__3': 4, 'days_since_prior_order__4': 28.0, 'user_id__4': 1, 'order_id__4': 431534, 'order_dow__4': 4, 'order_hour_of_day__4': 15, 'order_number__4': 5, 'days_since_prior_order__5': 19.0, 'user_id__5': 1, 'order_id__5': 3367565, 'order_dow__5': 2, 'order_hour_of_day__5': 7, 'order_number__5': 6, 'days_since_prior_order__6': 20.0, 'user_id__6': 1, 'order_id__6': 550135, 'order_dow__6': 1, 'order_hour_of_day__6': 9, 'order_number__6': 7, 'days_since_prior_order__7': 14.0, 'user_id__7': 1, 'order_id__7': 3108588, 'order_dow__7': 1, 'order_hour_of_day__7': 14, 'order_number__7': 8, 'days_since_prior_order__8': 0.0, 'user_id__8': 1 ... 5900 parameters truncated ... 'order_hour_of_day__991': 22, 'order_number__991': 3, 'days_since_prior_order__992': 12.0, 'user_id__992': 64, 'order_id__992': 2507322, 'order_dow__992': 6, 'order_hour_of_day__992': 17, 'order_number__992': 4, 'days_since_prior_order__993': 6.0, 'user_id__993': 64, 'order_id__993': 33681, 'order_dow__993': 5, 'order_hour_of_day__993': 0, 'order_number__993': 5, 'days_since_prior_order__994': 19.0, 'user_id__994': 64, 'order_id__994': 629726, 'order_dow__994': 3, 'order_hour_of_day__994': 20, 'order_number__994': 6, 'days_since_prior_order__995': 9.0, 'user_id__995': 64, 'order_id__995': 2302602, 'order_dow__995': 5, 'order_hour_of_day__995': 20, 'order_number__995': 7, 'days_since_prior_order__996': 15.0, 'user_id__996': 64, 'order_id__996': 3215917, 'order_dow__996': 6, 'order_hour_of_day__996': 17, 'order_number__996': 8, 'days_since_prior_order__997': 7.0, 'user_id__997': 64, 'order_id__997': 2754807, 'order_dow__997': 6, 'order_hour_of_day__997': 15, 'order_number__997': 9, 'days_since_prior_order__998': 9.0, 'user_id__998': 64, 'order_id__998': 3129760, 'order_dow__998': 1, 'order_hour_of_day__998': 10, 'order_number__998': 10, 'days_since_prior_order__999': 27.0, 'user_id__999': 64, 'order_id__999': 2639013, 'order_dow__999': 0, 'order_hour_of_day__999': 13, 'order_number__999': 11}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [9]:
order_products_df=order_products_df.sample(10000)

In [10]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

1000